<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Community</ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="lazy" align="center">
<ion-spinner style="margin-top: 40%; margin-bottom: 200%;" name="bubbles"></ion-spinner>
</div>

  <ion-content>
    <div align="center" *ngIf="!enrolled" style="margin-bottom: 200%;">
      <div  *ngIf="!lazy">
        <ion-icon name="information-circle-outline" class="ico-error"></ion-icon>
      <h4>course community is available to enrolled student only</h4>
      <ion-button (click)="enroll()" shape="round" color="primary">
        Enroll Now
      </ion-button>
      </div>
      
     
    </div>
      <iframe class="frame" [src]="safeUrl" frameborder="0" allowfullscreen></iframe>
   
  
  </ion-content>

