.img-icon{
    width: 100px;
    margin-left: 30%;
    
}

.search-das{
    margin-top: -10%;
    border-radius: 20px;
}

.img-dashboard{
    margin-top: -15%;
    position: relative;
    top: 0;
}
.img-back{
    position: relative;
    top: 0;
}
.headline{
    position: absolute;
    top: 50%;
    width: 100%;
}

.body-dash{
    margin : 10px
}
.on-going{
    border-radius: 10px;
    width: 39%;
    top: 10px;
    position: absolute;
    left: -3%;
}
.card-content-ongoing{
    padding: 1px;
    margin-left: -40px;
}
.parent{
    position: relative;
    top: 0;
    left: 3%;
}
.card-ongoing{
    position: relative;
    top: 0;
}
.category{
    border-radius: 10px;
    position: relative;
    top: 0;
}
.parent-cat{
    position: relative;
    top: 0;
}
.title-car{
    position: absolute;
    top: 24px;
    left: 10px;
}
.badge{
    margin-right: -18px;
    margin-top: -15px;
}
.btn-enroll{
    text-transform: none;
    float: right;
    left: 20%;
}
ion-spinner {
    transform: scale(2);
}