<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="badge != '0'">
      <ion-badge color="danger" class="badge">{{badge}}</ion-badge>
      <ion-button (click)="notif()">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="badge == '0'">
      <ion-badge color="danger" class="badge"></ion-badge>
      <ion-button (click)="notif()">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- <ion-title>Dashboard</ion-title> -->
    <img src="assets/imgs/logo_light.png" class="img-icon" alt="">
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="img-back animated fadein" paralax>
    <img src="assets/imgs/dash_bg.png" class="img-dashboard animated fadeInDown" alt="">
    <ion-row class="headline animated fadeInUp">
      <ion-col size="7">
        <a style="font-size: 1.5rem; color: #fff;">Join the Learnathon</a>
        <!-- <div style="font-size: 1rem; color: #fff;">Ongoing courses</div> -->
      </ion-col>
      <ion-col size="5">
        <ion-button (click)="more()" expand="block" color="primary" shape="round">
          Know more
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
  <!-- <div>
      <ion-searchbar class="search-das animated bounceIn" placeholder="Search" (ionChange)="onSearchChange($event)"></ion-searchbar>
  </div> -->
  <div class="animated fadeInUp body-dash">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6" style="text-align: left;">
          <a style="font-size: 1rem; color: #222;">Ongoing courses</a>
        </ion-col>
        <ion-col size="6" style="text-align: right;" (click)="courses_list()">
          <a style="font-size: 1rem; color: red;">View All</a>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div *ngIf="lazy" style="margin-top: 30%;" align="center">
      <ion-spinner name="bubbles" class=""></ion-spinner>
    </div>
    <div *ngIf="!lazy">
      <!-- public Courses -->
      <div >
        <div class="parent" (click)="go_detail(item.titleId)" *ngFor="let item of public_courses">
          <ion-card class="card-ongoing animated fadeInUp">
            <div class="card-content-ongoing">
              <ion-row>
                <ion-col size="5">
                </ion-col>
                <ion-col size="7">
                  <div style="font-size: 0.9rem; color: #222; font-weight: bold;">{{item.title}}</div>
                  <div style="font-size: 0.6rem; color: gray;">{{item.keywords}}</div>
                  <!-- progressbar -->
                  <!-- <div style="font-size: 0.5rem; color: red; text-align: right; float: right;">0% Complete</div>
                    <ion-progress-bar value="0"></ion-progress-bar> -->
                  <div *ngIf="item.metadata.keywords != 'enrolled'">
                    <!-- price rating -->
                    <ion-row>
                      <ion-col size="7">
                        <div *ngIf="item.price == null">
                          <div style="font-size: 1.2rem; font-weight: bold; color: green;">Free</div>
                        </div>
                        <div *ngIf="item.price != null">
                          <div style="font-size: 1.2rem; font-weight: bold; color: green;">{{item.currency}}{{item.price}}
                          </div>
                        </div>
                      </ion-col>
                      <ion-col size="5">
                        <ion-button size="small" class="btn-enroll" color="danger">
                          Enroll Now
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </div>
                  <div *ngIf="item.metadata.keywords == 'enrolled'">
                    <ion-row>
                      <ion-col size="8">
                      </ion-col>
                      <ion-col size="4">
                        <ion-button size="small" class="btn-enroll" color="primary">
                          Continue Learning
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </ion-card>
          <img src="{{item.courseImage.url}}" alt="" class="on-going">
        </div>
      </div>

      <!-- Private Courses -->
      <div >
        <div class="parent" (click)="go_detail(item.titleId)" *ngFor="let item of private_courses_enroled">
          <ion-card class="card-ongoing animated fadeInUp">
            <div class="card-content-ongoing">
              <ion-row>
                <ion-col size="5">
                </ion-col>
                <ion-col size="7">
                  <div style="font-size: 0.9rem; color: #222; font-weight: bold;">{{item.title}}</div>
                  <div style="font-size: 0.6rem; color: gray;">{{item.keywords}}</div>
                  <!-- progressbar -->
                  <!-- <div style="font-size: 0.5rem; color: red; text-align: right; float: right;">0% Complete</div>
                    <ion-progress-bar value="0"></ion-progress-bar> -->
                  <div *ngIf="item.metadata.keywords != 'enrolled'">
                    <!-- price rating -->
                    <ion-row>
                      <ion-col size="7">
                        <div *ngIf="item.price == null">
                          <div style="font-size: 1.2rem; font-weight: bold; color: green;">Free</div>
                        </div>
                        <div *ngIf="item.price != null">
                          <div style="font-size: 1.2rem; font-weight: bold; color: green;">{{item.currency}}{{item.price}}
                          </div>
                        </div>
                      </ion-col>
                      <ion-col size="5">
                        <ion-button size="small" class="btn-enroll" color="danger">
                          Enroll Now
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </div>
                  <div *ngIf="item.metadata.keywords == 'enrolled'">
                    <ion-row>
                      <ion-col size="8">
                      </ion-col>
                      <ion-col size="4">
                        <ion-button size="small" class="btn-enroll" color="primary">
                          Continue Learning
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </ion-card>
          <img src="{{item.courseImage.url}}" alt="" class="on-going">
        </div>
      </div>
    
      
    </div>



    <!-- top categody -->
    <!-- <ion-grid fixed>
      <ion-row>
        <ion-col size="6" style="text-align: left;">
          <a style="font-size: 1rem; color: #222;">Top cactgory</a>
        </ion-col>
        <ion-col size="6" style="text-align: right;">
          <a style="font-size: 1rem; color: red;">View All</a>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6" (click)="detail()">
          <div class="parent-cat">
            <img src="assets/imgs/course1.png" alt="" class="category">
            <div class="title-car">
              <div style="font-size: 1.2rem; color: #fff;">Design</div>
            <div style="font-size: 0.6rem; color: #fff;">0 course</div>
            </div>
          </div>
        </ion-col>
        <ion-col size="6" (click)="detail()">
          <div class="parent-cat">
            <img src="assets/imgs/course2.png" alt="" class="category">
            <div class="title-car">
              <div style="font-size: 1.2rem; color: #fff;">Bussiness</div>
            <div style="font-size: 0.6rem; color: #fff;">0 course</div>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" (click)="detail()">
          <div class="parent-cat">
            <img src="assets/imgs/course3.png" alt="" class="category">
            <div class="title-car">
              <div style="font-size: 1.2rem; color: #fff;">Photograft</div>
            <div style="font-size: 0.6rem; color: #fff;">0 course</div>
            </div>
          </div>
        </ion-col>
        <ion-col size="6" (click)="detail()">
          <div class="parent-cat">
            <img src="assets/imgs/course4.png" alt="" class="category">
            <div class="title-car">
              <div style="font-size: 1.2rem; color: #fff;">Developer</div>
            <div style="font-size: 0.6rem; color: #fff;">0 course</div>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" (click)="detail()">
          <div class="parent-cat">
            <img src="assets/imgs/course5.png" alt="" class="category">
            <div class="title-car">
              <div style="font-size: 1.2rem; color: #fff;">Fitnes</div>
            <div style="font-size: 0.6rem; color: #fff;">0 course</div>
            </div>
          </div>
        </ion-col>
        <ion-col size="6" (click)="detail()">
          <div class="parent-cat">
            <img src="assets/imgs/course6.png" alt="" class="category">
            <div class="title-car">
              <div style="font-size: 1.2rem; color: #fff;">Music</div>
            <div style="font-size: 0.6rem; color: #fff;">0 course</div>
            </div>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid> -->

  </div>


</ion-content>