<ion-content>
  <ion-slides pager="true">
      <ion-slide class="step-one">
          <h1 class="title animated bounceInDown">WELCOME</h1>
          <p class="subtitle animated bounceInDown">to</p>
          <ion-img class="intro_img animated fadeInDown bounceIn" src="/assets/imgs/logo_round.png"></ion-img>
          <p class="descrip animated bounceInUp">Learning is everyday living. A Journey that never ends</p>
      </ion-slide>

      <ion-slide class="step-one">
          <h1 class="title animated bounceInDown">Learn Anytime, Anywhere</h1>
          <p class="subtitle animated bounceInDown"></p>
          <ion-img class="intro_img animated fadeInDown bounceIn" src="/assets/imgs/intro/intro1.png"></ion-img>
          <p class="descrip animated bounceInUp">Whether you are at work, on a holiday or stuck in traffic, the Learning can never stop.</p>
      </ion-slide>

      <ion-slide class="step-two">
          <h1 class="title animated bounceInDown">Learn Smarter</h1>
          <ion-img class="intro_img2 animated fadeInDown bounceIn" src="/assets/imgs/intro/intro2.png"></ion-img>
          <p class="descrip animated bounceInDown">Courses are designed to make you learn something new “today” and not someday.</p>
      </ion-slide>

      <ion-slide class="step-three">
          <h1 class="title animated bounceInDown">Learn a new concept.Everyday!</h1>
          <ion-img class="intro_img3 animated fadeInDown bounceIn" src="/assets/imgs/intro/intro3.png"></ion-img>
          <p class="descrip animated bounceInUp">The goal is to become a global community of Learners</p>

          <ion-button (click)="finish()" shape="round" color="light">GET STARTED</ion-button>
      </ion-slide>
  </ion-slides>
</ion-content>