ion-slide {
    width: 30%;
    height: 100vh;
    flex-direction: column;
}

ion-img {
    max-width: 200vw;
    max-height: 200vh;
    overflow: hidden;
}


.step-one {
    background: #26a1b2;
    color: #fff;
    width: 10%;
}

.step-two {
    background: #26a1b2;
    color: #fff;
}

.step-three {
    background: #26a1b2;
    color: #fff;
}

.title {
    margin-top: -10%;
}

.intro_img {
    width: 150px;
}
.intro_img2{
    width: 150px;
}
.intro_img3{
    width: 150px;
}

.descrip {
    width : 250px;
}

.subtitle{
    font-size: 1rem;
    margin-top: -1%;
}