<!-- -->
<ion-content padding class="animated fadeIn login-page-bg">
  <div style="margin-top: 8%;" align="center">
  <!-- Logo -->
  <img style="color: #222;margin-top: 40%;margin-bottom: 15%;" src="assets/imgs/logo.png" width="200"> -

</div>
  <div class="card-login" padding>

    <!-- Login form -->
    <form class="list-form" (ngSubmit)='login()' align="center">
      <ion-item>
        <ion-label position="floating" class="label-login">E-mail</ion-label>
        <ion-input type="text" [(ngModel)]="data.username" name="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="label-login">Password</ion-label>
        <ion-input type="password" [(ngModel)]="data.password" name="password"></ion-input>
      </ion-item>

    
      <br>
      <ion-button (click)="login()" shape="round" color="primary" class="button-login animated fadeInUp">
        Login
      </ion-button>
    </form>
    <ion-button type="submit" fill="outline" (click)="signup()" shape="round" color="primary"
      class="button-signup animated fadeInUp">
      Signup
    </ion-button>
    <h6 style="color: #26a1b2; margin-bottom: -20px;margin-top: 0px;">------------------- or -------------------</h6>
    <ion-col size="4">
      <ion-button (click)="fb()"  class="icon-fb">
        <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button (click)="google()"  class="icon-google">
        <ion-icon slot="icon-only" name="logo-google"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button (click)="linkin()"  class="icon-linkedin">
        <ion-icon slot="icon-only" name="logo-linkedin"></ion-icon>
      </ion-button>
    </ion-col>

  </div>
  <div align="center">
 
    <div style="margin-top: 2%;">
      <a class="copy-right">Copyright © 2020 All Rights Reserved</a><br>
    </div>
  </div>

</ion-content>