<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{course_title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div *ngIf="lazy" align="center" style="padding-top: 40%; padding-bottom: 210%;">
    <ion-spinner  name="bubbles">
    </ion-spinner>
    <div style="margin-top: 10px;">
      loading data...
    </div>
   
    
  </div>
    
      <iframe class="frame" [src]="safeUrl" frameborder="0" allowfullscreen></iframe>
</ion-content>

