<ion-header *ngIf="header_show" class="animated fadeIn">
  <ion-toolbar class="tool-bar" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Courses</ion-title>
  </ion-toolbar>
</ion-header>
<style>
  .main-content{
    /* background-image: url('+course_img}}'); */
    height: 200px;
    background-size: cover;
    background-position: center center;
}
</style>
<ion-content parallax [scrollEvents]="true" (ionScroll)="onCntscroll($event)">
  <div class="main-content " [ngStyle]="{'background-image': 'url(' + course_img + ')'}">
    <ion-icon name="arrow-back-outline" class="icon-back" (click)="back()"></ion-icon>
  </div>
  <div class="content-detail animated fadeInUp">
    <ion-card class="card-detail">
      <ion-card-content>
        <div style="font-size: 1rem; color: #222; font-weight: bold;">{{course_title}}
          </div>
        <div style="font-size: 0.8rem; color: gray;">{{course_desc}}</div>
        <!-- progressbar -->
        <ion-row>
          <ion-col size="8" style="font-weight: bold;">
            {{course_currency}}{{course_price}}
          </ion-col>
          <ion-col size="4">
            <ion-badge color="success" style="margin-left: 10px;">{{courses_status}}</ion-badge>
            <div style="font-size: 0.7rem; color: red; text-align: right; float: right;margin-top: 3px;">
              Courses</div>
          </ion-col>
        </ion-row>
      </ion-card-content>

    </ion-card>
  </div>
  <div>
<!-- sparator -->
  </div>
  <!-- <ion-card class="card-feature content-detail animated fadeInUp">
    <ion-card-content>
      <div style="font-size: 1rem; color: #222; font-weight: bold;">Courses Detail</div>
    
      <ion-row>
        <ion-col size="6">
          <div style="font-size: 1rem; color: #222;"><ion-icon name="library" class="ico-mod"></ion-icon> 13 Modules</div>
        </ion-col>
        <ion-col size="6">
          <div style="font-size: 1rem; color: #222;"><ion-icon name="checkmark" class="ico-mod"></ion-icon> 5+ Checklist</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <div style="font-size: 1rem; color: #222;"><ion-icon name="cog" class="ico-mod"></ion-icon> 10+ Practical </div>
        </ion-col>
        <ion-col size="6">
          <div style="font-size: 1rem; color: #222;"><ion-icon name="school" class="ico-mod"></ion-icon> 50+ Quiz</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <div style="font-size: 1rem; color: #222;"><ion-icon name="stats-chart" class="ico-mod"></ion-icon> Marketing Script</div>
        </ion-col>
        <ion-col size="6">
          <div style="font-size: 1rem; color: #222;"><ion-icon name="people" class="ico-mod"></ion-icon> Discution Forum</div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card> -->
  <!-- course description -->
  <ion-card class="card-feature content-detail animated fadeInUp">
    <ion-card-content>
      <div style="font-size: 1rem; color: #222; font-weight: bold;">Courses Descriptions</div>
      <!-- descrip -->
      <ion-row>
        <p>{{course_desc}}</p>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <!-- course video intro -->
  <!-- <ion-card class="card-feature">
    <ion-card-content>
      <div style="font-size: 1rem; color: #222; font-weight: bold;">Watch Module 1 for free!</div>
   
      <ion-row>
        <p>ntroduction to {{course_title}}</p>
      </ion-row>
      <img src="assets/imgs/play_vid.png" alt="" width="550">
    </ion-card-content>
  </ion-card> -->

</ion-content>

<ion-footer>

  <ion-row>
    <ion-col size="5">
      <div class="price-des">Access for 12 months</div>
      <div class="price"> {{course_currency}}{{course_price}}</div>
    </ion-col>
    <ion-col size="7" style="background: #26a1b2" (click)="enroll()">
      <div class="button-enroll">Enroll Now</div>
    </ion-col>
  </ion-row>

</ion-footer>