<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-title align="center">Edit Profile</ion-title>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="exit()">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content color="primary">
  <div class="ava" align="center">
    <img src="https://learnworlds.blob.core.windows.net/school098992-public/avatars/thumbs/{{user_id}}.jpg"  onerror="this.src='assets/imgs/avatar_male.png';"alt="" class="avatar">
  </div>

  <ion-card class="item-edit">
    <ion-card-header>
      <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="category">
        <ion-segment-button value="info">
          <ion-label>Edit Info</ion-label>
        </ion-segment-button>
        <ion-segment-button value="pass">
          <ion-label>Add Socmed</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card-header>

    <ion-card-content>
      <div [ngSwitch]="category">
        <div *ngSwitchCase="'info'">

          <ion-item class="item-edit">
            <ion-label position="stacked">Name</ion-label>
            <ion-input name="username" type="text" [(ngModel)]="data.username" ></ion-input>
          </ion-item>
          <ion-item class="item-edit">
            <ion-label position="stacked">Phone</ion-label>
            <ion-input name="phone" type="tel" [(ngModel)]="data.phone"  ></ion-input>
          </ion-item>
          <ion-item class="item-edit">
            <ion-label position="stacked">Address</ion-label>
            <ion-input name="address" type="text" [(ngModel)]="data.address"  ></ion-input>
          </ion-item>
          <ion-item class="item-edit">
            <ion-label position="stacked">Country</ion-label>
            <ion-input name="country" type="text" [(ngModel)]="data.country"  ></ion-input>
          </ion-item>

        </div>

        <div *ngSwitchCase="'pass'">

          <ion-item class="item-edit">
            <ion-label position="stacked"><ion-icon name="globe-outline"></ion-icon> Website</ion-label>
            <ion-input name="website" type="text" [(ngModel)]="data.website"></ion-input>
          </ion-item>
          <ion-item class="item-edit">
            <ion-label position="stacked"><ion-icon name="logo-twitter"></ion-icon> twitter</ion-label>
            <ion-input name="twitter" type="text" [(ngModel)]="data.twitter"></ion-input>
          </ion-item>
          <ion-item class="item-edit">
            <ion-label position="stacked"><ion-icon name="logo-instagram"></ion-icon> instagram</ion-label>
            <ion-input name="instagram" type="text" [(ngModel)]="data.instagram"></ion-input>
          </ion-item>
        </div>
      </div>


    </ion-card-content>
  </ion-card>
  <ion-button color="light" expand="block" shape="round" strong (click)="submit()"> save </ion-button>
</ion-content>