.ava{
    padding: 20px;
    position: relative;
  }
  .avatar{
      top: 0;
    width: 120px;
    position: relative;
    border-radius: 60px;
  }

  .fab-edit{
      position: absolute;
      top: 10%;
      left: 55%;
      width: 30px;
      height: 30px;

  }

  .item-edit{
      border-radius: 10px;
  }