<ion-header *ngIf="header_show" class="animated fadeIn">
  <ion-toolbar class="tool-bar" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Courses</ion-title>
  </ion-toolbar>
</ion-header>
<style>
  .main-content{
    /* background-image: url('+course_img}}'); */
    height: 200px;
    background-size: cover;
    background-position: center center;
}
</style>
<ion-content parallax [scrollEvents]="true" (ionScroll)="onCntscroll($event)">
  <div class="main-content " [ngStyle]="{'background-image': 'url(' + course_img + ')'}">
    <ion-icon name="arrow-back-outline" class="icon-back" (click)="back()"></ion-icon>
  </div>
  <div class="content-detail animated fadeInUp">
    <ion-card class="card-detail">
      <ion-card-content>
        <div style="font-size: 1rem; color: #222; font-weight: bold;">{{course_title}}
          </div>
        <div style="font-size: 0.8rem; color: gray;">{{course_desc}}</div>
        <!-- progressbar -->
        <ion-row>
          <ion-col size="6" style="font-weight: bold;">
            Expire : {{courses_expire}} {{courses_exipire_type}}
          </ion-col>
          <ion-col size="6">
            <ion-badge color="success" style="margin-left: 10px;">You are Enrolled</ion-badge>
            <div style="font-size: 0.7rem; color: rgb(8, 150, 62); text-align: right; float: right;margin-top: 3px;">
              </div>
          </ion-col>
        </ion-row>
      </ion-card-content>

    </ion-card>
  </div>
  <div>
<!-- sparator -->
  </div>
  
  <!-- course description -->
  <ion-card class="card-feature content-detail animated fadeInUp">
    <ion-card-content>
      <div style="font-size: 1rem; color: #222; font-weight: bold;">Courses Descriptions</div>
      <!-- descrip -->
      <ion-row>
        <p>{{course_desc}}</p>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <!-- course video intro -->
  
</ion-content>

<ion-footer>

  <ion-row>
    <!-- <ion-col size="12" style="background: red;" (click)="openWithSystemBrowser('https://www.learnathonworld.com/path-player?courseid=jewelry-retail-marketing&unit=5d1dbc3f47d7dd4bc98b4571Unit')">
      <div class="button-enroll">Continue Learning</div>
    </ion-col> -->
    <ion-col size="12" style="background: #26a1b2;" (click)="go_to_module()">
      <div class="button-enroll">Continue Learning</div>
    </ion-col>
  </ion-row>

</ion-footer>