
// .main-cnt{
//     width: 100%;
//     height: 70px;
// }

.tool-bar{
    background: transparent;
}

.icon-back{
    color: #fff;
    margin-top: 5%;
    margin-left: 4%;
    font-size: 1.6rem;
}

.content-detail{

}
.card-detail{
    margin-top: -30px;
    border-radius: 10px;

}
.price{
    padding: 9px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: -5%;
}
.button-enroll{
    text-align: center;
    padding: 9px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    margin-top: 3%;
}
.price-des{
    font-size: 0.8rem;
    color: gray;
    text-align: center;
    margin-top: 5%;
}
.ico-mod{
    color: red;
    font-size: 1.4rem;
}
.card-feature{
    border-radius: 10px;
}