<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="exit_()"></ion-back-button>
      <ion-title align="center">{{course_title}}</ion-title>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="exit()">
        <ion-icon slot="icon-only" name="home"></ion-icon>
        <!-- done -->
        <!-- <ion-icon slot="icon-only" name="close-circle"></ion-icon> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content>
  <div *ngIf="lazy" align="center" style="padding-top: 40%; padding-bottom: 210%;">
    <ion-spinner name="bubbles">
    </ion-spinner>
    <div style="margin-top: 10px;">
      loading data...
    </div>


  </div>

    <iframe class="frame" [src]="safeUrl" frameborder="0" allowfullscreen></iframe>
  

</ion-content>
<!-- 
<ion-content color="primary">
  <div class="ava" align="center">

  </div>
  <ion-card class="card-checkout animated bounceIn">
    <img src="{{course_img}}" alt="" width="100" class="img-checkout">
    <ion-card-header style="padding: 2px;margin-left: 5%;">
      <ion-card-title>Review Order</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="8">
          <div style="font-weight: bold;font-size: 1.1rem;">
            {{course_title}}
          </div>
          <p>{{course_des}}</p>
        </ion-col>
        <ion-col size="4">
          
          <div class="price">
            <ion-icon slot="start" name="cart-outline" style="font-size: 3rem; color: #26a1b2;"></ion-icon>
            {{course_currency}}{{course_price}}</div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-checkout animated bounceIn">
  
    <ion-card-content>
     <ion-card>
       <div>
         <ul>
    
           <li>{{user_email}}</li>
         </ul>
       </div>
     </ion-card>
     <div>
      <ion-item>
        <ion-label style="font-size: 0.8rem;">I accept the Terms & Conditions</ion-label>
        <ion-checkbox color="secondary" slot="start" [(ngModel)]="entry" (ionChange)="update()"></ion-checkbox>
      </ion-item>
     </div>
     
    </ion-card-content>
  </ion-card>

  <ion-button class="animated fadeInUp" color="light" expand="block" shape="round" strong (click)="checkout()"> Checkout </ion-button>
</ion-content>
 -->