.card-checkout{
border-radius: 10px;
}
.img-checkout{
    width: 100%;
    height: 170px;
}
.price{
font-size: 1.5rem;
font-weight: bold;
color: green;
text-align: center;
}
.frame{
    width: 100%;
    height: 200%;
    margin-top: -14%;
}
.frame_free{
    width: 100%;
    height: 200%;
    margin-top: -70%;
}
ion-spinner {
    transform: scale(2);
}
