<ion-app>
  <ion-menu contentId="content1" side="start">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-card text-center class="hide-card" align="center">
          <img src="https://learnworlds.blob.core.windows.net/school098992-public/avatars/thumbs/{{user_id}}.jpg"  onerror="this.src='assets/imgs/avatar_male.png';"alt="" class="custom-avatar">
          <h2 class="name_avatar">{{name}}</h2>
          <p class="detail_avatar"><ion-icon name="location-outline"></ion-icon>{{location}}</p>
      </ion-card>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-content class="bg-menu">
        <ion-list>
          <ion-item (click)="home()">
            <ion-icon name="home-outline" slot="start" class="ico"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
          <ion-item (click)="daily_news()">
            <ion-icon name="newspaper-outline" slot="start" class="ico"></ion-icon>
            <ion-label>Daily News</ion-label>
          </ion-item>
          <ion-item (click)="community()">
            <ion-icon name="chatbubbles-outline" slot="start" class="ico"></ion-icon>
            <ion-label>Community</ion-label>
          </ion-item>
          <ion-item (click)="resource()">
            <ion-icon name="star-outline" slot="start" class="ico"></ion-icon>
            <ion-label>Best Resource</ion-label>
          </ion-item>
          <ion-item (click)="profile()">
            <ion-icon name="person-outline" slot="start" class="ico"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-item>
       
          <ion-item (click)="people()">
            <ion-icon name="people-outline" slot="start" class="ico"></ion-icon>
            <ion-label>People</ion-label>
          </ion-item>
          <ion-item (click)="inbox()">
            <ion-icon name="mail-outline" slot="start" class="ico"></ion-icon>
            <ion-label>Inbox</ion-label>
          </ion-item>
          <!-- <ion-item (click)="about()">
            <ion-icon name="settings-outline" slot="start" class="ico"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-item> -->
          <ion-item (click)="logout()">
            <ion-icon name="log-out-outline" slot="start" class="ico"></ion-icon>
            <ion-label>Signout</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>