.bg-menu{
    background-color: #26a1b2;
}

.hide-card {
    -webkit-box-shadow: none!important;
    background-color: #26a1b2;
  }
  
  .custom-avatar {
    height: 25vw;
    width: 25vw;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: -3%;
  }
  .tool-bar-menu{
      background-color: #26a1b2;
  }
  .name_avatar{
    font-size: 1rem;
    color: #fff;
  }
  .detail_avatar{
    font-size: 0.8rem;
    margin-top: -10px;
    color: #fff;
  }
  .ico{
      color: #26a1b2;
  }