<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="lazy" align="center" >
    <ion-spinner style="margin-top: 40%; margin-bottom: 200%;transform: scale(2);" name="bubbles"></ion-spinner>
  </div>
  <ion-list *ngIf="!lazy" >
    <ion-item class="item-unread" (click)="detail()" *ngFor="let item of items" >
      <ion-thumbnail slot="start">
        <!-- <ion-icon name="mail-unread-outline" class="ico-inbox"></ion-icon> -->
        <img src="{{item.image}}" alt="">
      </ion-thumbnail>
      <ion-label>
        <h3>{{item.title}}</h3>
        <p>{{item.message}}</p>
      </ion-label>
    </ion-item>
    <!-- <ion-item class="item-read" (click)="detail()">
      <ion-thumbnail slot="start">
        <ion-icon name="mail-open-outline" class="ico-inbox"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <h3>Admin</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime,</p>
      </ion-label>
    </ion-item> -->
 

  </ion-list>

</ion-content>