.img-icon{
    width: 100px;
    margin-left: 30%;
    
}

.search-das{
    margin-top: -10%;
    border-radius: 20px;
}

.img-dashboard{
    margin-top: -15%;
    position: relative;
    top: 0;
}
.img-back{
    position: relative;
    top: 0;
}
.headline{
    position: absolute;
    top: 50%;
    width: 100%;
}

.body-dash{
    margin : 10px;
    position: relative;
    top: -40px;
    
}
.on-going{
    border-radius: 10px;
    width: 39%;
    height: 70%;
    top: 15px;
    position: absolute;
    left: -3%;
}
.card-content-ongoing{
    padding: 13px;
    margin-left: -40px;
}
.parent{
    position: relative;
    top: 0;
    left: 3%;
}
.card-ongoing{
    position: relative;
    top: 0;
}
.category{
    border-radius: 10px;
    position: relative;
    top: 0;
}
.parent-cat{
    position: relative;
    top: 0;
}
.title-car{
    position: absolute;
    top: 24px;
    left: 10px;
}