<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="home()">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Courses List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: #26a1b2; position: relative; height: 50px;"></div>
  <div class="animated fadeInUp body-dash">
    <!-- loop here -->
    <!-- enrolled users -->
    <div >
      <div class="parent" (click)="go_detail(item.titleId)" *ngFor="let item of public_courses" >
        <ion-card class="card-ongoing">
          <div class="card-content-ongoing">
            <ion-row>
              <ion-col size="5">
              </ion-col>
              <ion-col size="7">
                <div style="font-size: 0.7rem; color: #222; font-weight: bold;">{{item.title}}</div>
                <div style="font-size: 0.6rem; color: gray;">{{item.keywords}}</div>
                <div *ngIf="item.metadata.keywords != 'enrolled'" >
                  <!-- price rating -->
                  <ion-row>
                    <ion-col size="7">
                      {{item.currency}}{{item.price}}
                      
                    </ion-col>
                    <ion-col size="5" >
                      <ion-badge color="danger" style="margin-left: 1px;">Enroll Now</ion-badge>
                      <div style="font-size: 0.7rem; color: red; text-align: right; float: right;margin-top: 3px;">
                       </div>
                    </ion-col>
                  </ion-row>
                </div>
                <div *ngIf="item.metadata.keywords == 'enrolled'" >
                  <ion-row>
                    <ion-col size="4">
                    </ion-col>
                    <ion-col size="6" >
                      <ion-badge color="success" style="margin-left: 1px;">Continue Learning</ion-badge>
                      <div style="font-size: 0.7rem; color: red; text-align: right; float: right;margin-top: 3px;">
                       </div>
                    </ion-col>
                  </ion-row>
                </div>
                
              </ion-col>
            </ion-row>
          </div>
        </ion-card>
        <!-- img course -->
        <img src="{{item.courseImage.url}}" alt="" class="on-going">
      </div>
    </div>
    <div >
      <div class="parent" (click)="go_detail(item.titleId)" *ngFor="let item of private_courses_enroled" >
        <ion-card class="card-ongoing">
          <div class="card-content-ongoing">
            <ion-row>
              <ion-col size="5">
              </ion-col>
              <ion-col size="7">
                <div style="font-size: 0.7rem; color: #222; font-weight: bold;">{{item.title}}</div>
                <div style="font-size: 0.6rem; color: gray;">{{item.keywords}}</div>
                <div *ngIf="item.metadata.keywords != 'enrolled'" >
                  <!-- price rating -->
                  <ion-row>
                    <ion-col size="7">
                      {{item.currency}}{{item.price}}
                      
                    </ion-col>
                    <ion-col size="5" >
                      <ion-badge color="danger" style="margin-left: 1px;">Enroll Now</ion-badge>
                      <div style="font-size: 0.7rem; color: red; text-align: right; float: right;margin-top: 3px;">
                       </div>
                    </ion-col>
                  </ion-row>
                </div>
                <div *ngIf="item.metadata.keywords == 'enrolled'" >
                  <ion-row>
                    <ion-col size="4">
                    </ion-col>
                    <ion-col size="6" >
                      <ion-badge color="success" style="margin-left: 1px;">Continue Learning</ion-badge>
                      <div style="font-size: 0.7rem; color: red; text-align: right; float: right;margin-top: 3px;">
                       </div>
                    </ion-col>
                  </ion-row>
                </div>
                
              </ion-col>
            </ion-row>
          </div>
        </ion-card>
        <!-- img course -->
        <img src="{{item.courseImage.url}}" alt="" class="on-going">
      </div>
    </div>
    
  
 

  </div>


</ion-content>