.button {
    margin-top: 10%;
}

.errors {
    font-size: 0.8rem;
    color: #d46262;
    left: 0;
}

ion-content.login-page-bg {
    --background: url('/assets/imgs/BG2.png')0 0/100% 100% no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}

.card-login {
    margin-top: 40%;
    // border-radius: 10px;
    // border-color: rgba(0, 0, 0, 0);
    // background-color: rgba(0, 0, 0, 0.47);
    // background-color: black;
    color: white;
    width: 300px;
    margin: auto;
    text-align: center;
}

.list-form {
    padding: 0;
    margin-bottom: 0;

    ion-item {
        background: none;
        padding: 0;

        &:first-child {
            border-top: none;
        }

        &:after {
            display: none;
        }


    }
}

.logo-login {
    margin-top: 1%;
    margin-bottom: 15%;
    height: 200px;

}

.shadow-logo {
    // box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 8px 5px 5px grey;
}

.forgotpass {
    padding-bottom: 20%;
    // margin-right: 11%;
    color: #fff;
}

.copy-right {
    color: #fff;
    font-size: 10px;
    padding-top: 30%;
}

.input-user-text {
    background: rgb(207, 206, 206);
    border-radius: 10px;
    margin: 0;
    height: 45px;
}

.label-user {
    background: rgb(119, 119, 119);
    border-radius: 10px 0px 0px 10px;
    width: 40px;
    margin: 0;
    height: 45px;
}

.icon-user {
    // margin-left: 30px;
    color: #fff;
    font-size: 20px;
}

.input-password-text {
    background: rgb(207, 206, 206);
    border-radius: 10px;
    margin: 0;
    height: 45px;
    width: 110px;
}

.input-pass {
    margin-top: 20px;
}

.item-md ion-icon[item-left],
.item-md ion-icon[item-right],
.item-md ion-icon[item-start],
.item-md ion-icon[item-end] {
    margin-left: 11px !important;
    margin-top: 11px;
    margin-bottom: 10px;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #292929 !important;
    -webkit-box-shadow: inset 0 -1px 0 0 #292929 !important;
    box-shadow: inset 0 -1px 0 0 #292929 !important;
}

.title {
    text-align: center;
    font-size: 2rem;
    color: rgb(182, 0, 0);
    font-weight: bold
}

.sub-title {
    text-align: center;
    font-size: 0.8rem;
    color: rgb(161, 0, 0);
    padding-top: -30px;
    font-weight: bold;
}

ion-input .native-input.sc-ion-input-md {
    padding-left: unset;
    padding-right: unset;
    -webkit-padding-start: var(--padding-start);
    padding-inline-start: var(--padding-start);
    -webkit-padding-end: var(--padding-end);
    padding-inline-end: var(--padding-end);
    margin-left: 10px !important;
}

.button-login {
    width: 90%;
}

.button-signup {
    width: 90%;
    margin-top: 3%;

}

.register-btn {
    color: rgb(255, 255, 255);
    font-size: 0.6rem;
    margin-left: 50%;
}

.label-login {
    color: #26a1b2;
}

.label-login[_ngcontent-pyq-c1] {
    color: #26a1b2;
}

ion-input .native-input.sc-ion-input-md {
    padding-left: unset;
    padding-right: unset;
    -webkit-padding-start: var(--padding-start);
    padding-inline-start: var(--padding-start);
    -webkit-padding-end: var(--padding-end);
    padding-inline-end: var(--padding-end);
    margin-left: 10px !important;
    color: #26a1b2;
}

.outline {
    position: absolute;
}

.fill {
    position: relative;
    left: 4px;

}

ion-input .native-input.sc-ion-input-md {
    padding-left: unset;
    padding-right: unset;
    -webkit-padding-start: var(--padding-start);
    padding-inline-start: var(--padding-start);
    -webkit-padding-end: var(--padding-end);
    padding-inline-end: var(--padding-end);
    margin-left: 10px !important;
    color: #fff;
}

.back {
    font-size: 2rem;
    color: #fff;
    margin-left: 4%;
}

.title {
    margin-top: -30px;
    color: #FFF;
    margin-bottom: 30%;
}