<!-- -->
<ion-content padding class="animated fadeIn login-page-bg">
  <div style="margin-top: 8%;"></div>
    <ion-icon name="arrow-back" class="back" (click)="back()"></ion-icon>
    <h1 class="title">SIGNUP</h1>
    <!-- Logo -->
    <div class="card-login" padding>
      <!-- Login form -->
      <form class="list-form" [formGroup]="ionicForm" (ngSubmit)='submit()' align="left" novalidate>
        <ion-item>
          <ion-label position= "floating" class="label-login" >Email</ion-label>
          <ion-input formControlName="email" type="email" [(ngModel)]="data.email"  name="email" required></ion-input>
        </ion-item>
        <span class="errors " *ngIf="isSubmitted && errorControl.email.errors?.required">
          * required field.
        </span>
        <span class="errors " *ngIf="isSubmitted && errorControl.email.errors?.pattern">
          please input valid email
        </span>

        <ion-item>
          <ion-label position= "floating" class="label-login" >Country</ion-label>
          <ion-input formControlName="country" type="tel" [(ngModel)]="data.country" name="country" required></ion-input>
        </ion-item>
        <span class="errors " *ngIf="isSubmitted && errorControl.country.errors?.required">
          * required field.
        </span>
        <ion-item>
          <ion-label position= "floating" class="label-login" >Username</ion-label>
          <ion-input formControlName="username" type="tel" [(ngModel)]="data.username" name="username" required></ion-input>
        </ion-item>
        <span class="errors " *ngIf="isSubmitted && errorControl.username.errors?.required">
          * required field.
        </span>

        <ion-item>
          <ion-label position= "floating" class="label-login" >Password</ion-label>
          <ion-input formControlName="password" type="password" [(ngModel)]="data.password" name="password" required></ion-input>
        </ion-item>
        <span class="errors " *ngIf="isSubmitted && errorControl.password.errors?.required">
          * required field.
        </span>
        <span class="errors " *ngIf="isSubmitted && errorControl.password.errors?.minlength">
          min 6 char.
        </span>

        <ion-item>
          <ion-label position= "floating" class="label-login" >Confirm Password</ion-label>
          <ion-input  formControlName="password" type="password" [(ngModel)]="data.password_confirmation" name="password_confirmation"></ion-input>
        </ion-item>

        <br>
        <ion-button type="submit" shape="round" color="primary" class="button-login animated fadeInUp">
          SUBMIT
        </ion-button>
      </form>
    </div>
  </ion-content>