<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>You won a Badge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Newbie</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Congratulations!</p>
      <div>You won the Newbie badge.</div>
      <div>Keep up the good work.</div>
      <div>Team Learnathon</div>
    </ion-card-content>
    <ion-button (click)="onClick()" fill="clear">
      <ion-icon slot="icon-only" name="book-outline"></ion-icon>
      &nbsp;Mark As read
    </ion-button>
  </ion-card>

</ion-content>
