<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>People</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding : 5px;background: #1a8392;" aign="center">
    <div style="color: #fff;text-align: center;">Meet Others</div>
  </div>
<ion-list>
  <div *ngIf="lazy"  align="center">
    <ion-spinner name="bubbles" class="lazy"></ion-spinner>
  </div>
  <div *ngIf="!lazy" >
    <!-- looping here -->
    <ion-item *ngFor="let item of item_user" >
      <ion-thumbnail slot="start">
        <img src="https://learnworlds.blob.core.windows.net/school098992-public/avatars/thumbs/{{item.id}}.jpg" class="avatar">
      </ion-thumbnail>
      <ion-label>{{item.username}}</ion-label>
      <div *ngIf="item.me_following == true" >
        <ion-button  shape="round" small color="light">
          Following
        </ion-button>
      </div>
      <div *ngIf="item.me_following == false" >
        <ion-button  shape="round" small>
          Follow
        </ion-button>
      </div>
    
    </ion-item>  
  </div>
 

</ion-list>  


</ion-content>
