<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Daily News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align="center">
    <ion-icon name="warning-outline" class="ico-error"></ion-icon>
    <h4>Oops, your school's owner is working hard preparing this article for you</h4>

  </div>

</ion-content>
