<!-- <ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Best Resource</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin-left: 5%;margin-top: 4%;"><h6>Select Category</h6></div>
  <ion-card alig="center">
        <div class="tabs">
          <div class="tab">
            <input type="radio" id="rd1" name="rd">
            <label class="tab-label" for="rd1">Case Student</label>
            <div class="tab-content">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, facilis.
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd2" name="rd">
            <label class="tab-label" for="rd2">Library</label>
            <div class="tab-content">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, aut.
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd3" name="rd">
            <label class="tab-label" for="rd3">Resources</label>
            <div class="tab-content">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, aut.
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd4" name="rd">
            <label class="tab-label" for="rd4">Usefull link</label>
            <div class="tab-content">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, aut.
            </div>
          </div>
          
          <div class="tab">
            <input type="radio" id="rd5" name="rd">
            <label for="rd5" class="tab-close">Close others &times;</label>
          </div>
        </div>
    
  </ion-card>
  
</ion-content> -->

<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Best Resource</ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="lazy" align="center">
<ion-spinner style="margin-top: 40%; margin-bottom: 200%;" name="bubbles"></ion-spinner>
</div>

  <ion-content style="--background: #595959;">
      <iframe class="frame" [src]="safeUrl" frameborder="0" allowfullscreen></iframe>
  </ion-content>

