<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="inbox()">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Profile</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-profile animated fadeInDown">
    <div class="ava" align="center">
      <img src="https://learnworlds.blob.core.windows.net/school098992-public/avatars/thumbs/{{user_id}}.jpg"  onerror="this.src='assets/imgs/avatar_male.png';"alt="" class="avatar">
      <h2 class="name_avatar">{{name}}</h2>
      <p class="detail_avatar"><ion-icon name="location-outline"></ion-icon>{{location}}</p>
    </div>
  </div>
  <!-- content profile -->
  <ion-card class="card-content animated fadeInDown">
    <ion-card-content>
      <ion-row align="center">
        <ion-col size="3">
          <ion-icon name="library-outline" class="ico-profile"></ion-icon>
          <div class="tex-detail-prof"> {{courses}} Courses</div> 
        </ion-col>
        <ion-col size="3">
          <ion-icon name="time-outline" class="ico-profile"></ion-icon>
          <div class="tex-detail-prof"> {{hours}} Hours</div> 
        </ion-col>
        <ion-col size="3">
          <ion-icon name="chatbubbles-outline" class="ico-profile"></ion-icon>
          <div class="tex-detail-prof"> {{post}} Post</div> 
        </ion-col>
        <ion-col size="3">
          <ion-icon name="trophy-outline" class="ico-profile"></ion-icon>
          <div class="tex-detail-prof"> {{achievment}} Achievment</div> 
        </ion-col>
        
      </ion-row>
    </ion-card-content>
  </ion-card>
  <!-- about me -->
  <ion-card class="card-profile animated fadeInUpBig">
    <ion-card-header>
      <ion-card-title>About Me</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          <div> <ion-icon slot="start" name="people">Username :</ion-icon> <br>{{name}}</div> 
        </ion-col>
        <ion-col size="6">
          <div> <ion-icon slot="start" name="mail">E-mail :</ion-icon> <br>{{email}}</div> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <div><ion-icon slot="start" name="location"></ion-icon> {{location}}</div> 
        </ion-col>
        <ion-col size="6">
          <div><ion-icon slot="start" name="flag"></ion-icon>{{country}}</div> 
        </ion-col>
      </ion-row>
    </ion-card-content>
    <ion-button color="primary" (click)="edit_prof()" expand="block">
      <ion-icon name="add-circle-outline" slot="start"></ion-icon>
      Edit Profile
      
    </ion-button>
  </ion-card>
  <!-- Account info-->
  <ion-card class="card-profile">
    <ion-card-header>
      <ion-card-title>Account Info</ion-card-title>
      <div>Payment History</div>
      <div style="color: gray;">You have not made any purchases</div>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="4">
          <div>Name </div> 
        </ion-col>
        <ion-col size="8">
          <div>{{name}}</div> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <div>E-mail </div> 
        </ion-col>
        <ion-col size="8">
          <div>{{email}}</div> 
        </ion-col>
      </ion-row>
      
    </ion-card-content>
    <!-- contact sales -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Contact Sales</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col size="4">
            <div>Company </div> 
          </ion-col>
          <ion-col size="8">
            <div>Learnathon Eduhub LLP</div> 
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <div>E-mail </div> 
          </ion-col>
          <ion-col size="8">
            <div>naman@learnathonworld.com</div> 
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <div>Website </div> 
          </ion-col>
          <ion-col size="8">
            <div>https://www.learnathonworld.com/</div> 
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <div>Phone </div> 
          </ion-col>
          <ion-col size="8">
            <div>9833701199</div> 
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <div>Address </div> 
          </ion-col>
          <ion-col size="8">
            <div>learnathon Eduhub LLP 1104, Hubtown Solaris, Andheri (E) Mumbai - 400 069. India</div> 
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-card>
 
 
   
  
</ion-content>
