.main-profile{
    background-image: url('../../../assets/imgs/course1.png');
    height: 200px;
    background-size: cover;
    background-position: center center;
}
.name_avatar{
    font-size: 1rem;
    color: #fff;
    margin-top: -1px;
  }
  .detail_avatar{
    font-size: 0.8rem;
    margin-top: -10px;
    color: #fff;
  }

  .ava{
    padding: 20px;
  }
  .avatar{
    width: 100px;
    border-radius: 50px;
  }
  .card-content{
      margin-top: -30px;
      border-radius: 10px;
  }
  .tex-detail-prof{
    font-size: 0.6rem;
  }
  .ico-profile{
    color: red;
    font-size: 2rem;
  }
  .card-profile{
      border-radius: 10px;
  }
